@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slides .slick-prev,
.slides .slick-next {

    position: absolute;
    z-index: 999;

}

.hello {
    margin-top: 50%;
    z-index: 999;

} */

@layer utilities {
    @variants responsive {
        .text-shadow {
          text-shadow: 2px 2px 4px black;
        }
        .text-shadow-md {
          text-shadow: 4px 4px 8px black;
        }
        .text-shadow-lg {
          text-shadow: 15px 15px 30px black;
        }
        .text-shadow-none {
          text-shadow: none;
        }
    } 
}


.leaflet-container {
  width: 100%;
  height: 100%;
}